j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_1410_cl_zwangsversteigerung_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.ZVG.Anspruchsart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Anspruchsart</nameLang>
               <nameKurz>ZVG.Anspruchsart</nameKurz>
               <nameTechnisch>zvg.anspruchsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.anspruchsart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvg.anspruchsart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvg.anspruchsart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVG.Nachrichtenart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Nachrichtenart</nameLang>
               <nameKurz>ZVG.Nachrichtenart</nameKurz>
               <nameTechnisch>zvg.nachrichtenart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.nachrichtenart</kennung>
               <beschreibung>Codeliste der verschiedenen verzinslichen Kosten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvg.nachrichtenart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvg.nachrichtenart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVG.Objekt">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Objekt</nameLang>
               <nameKurz>ZVG.Objekt</nameKurz>
               <nameTechnisch>zvg.objekt</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.objekt</kennung>
               <beschreibung>Codeliste der verschiedenen Objekte.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvg.objekt"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvg.objekt"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVG.Titelart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Titelart</nameLang>
               <nameKurz>ZVG.Titelart</nameKurz>
               <nameTechnisch>zvg.titelart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.titelart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvg.titelart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvg.titelart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.ZVG.Verfahrensart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Verfahrensart</nameLang>
               <nameKurz>ZVG.Verfahrensart</nameKurz>
               <nameTechnisch>zvg.verfahrensart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.verfahrensart</kennung>
               <beschreibung>Codeliste der verschiedenen Versteigerungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:zvg.verfahrensart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:zvg.verfahrensart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="zvg.anspruchsart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Anspruchsart</nameLang>
               <nameKurz>ZVG.Anspruchsart</nameKurz>
               <nameTechnisch>zvg.anspruchsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.anspruchsart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>wegen dinglicher Ansprüche</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>wegen dinglicher und persönlicher Ansprüche</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>wegen persönlicher Ansprüche</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>wegen öffentlicher Lasten</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>wegen Hausgeldern</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvg.nachrichtenart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Nachrichtenart</nameLang>
               <nameKurz>ZVG.Nachrichtenart</nameKurz>
               <nameTechnisch>zvg.nachrichtenart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.nachrichtenart</kennung>
               <beschreibung>Codeliste der verschiedenen verzinslichen Kosten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="01">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Nachricht gem. § 41 ZVG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="02">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Auftrag an einen Sachverständigen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="03">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Anordnung einer Zwangsverwaltung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="04">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bericht des Zwangsverwalters</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="05">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Antrag des Zwangsverwalters</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="06">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vergütungsantrag des Zwangsverwalters</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvg.objekt">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Objekt</nameLang>
               <nameKurz>ZVG.Objekt</nameKurz>
               <nameTechnisch>zvg.objekt</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.objekt</kennung>
               <beschreibung>Codeliste der verschiedenen Objekte.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Reihenhaus</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="10">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kfz-Stellplatz</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="11">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kfz-Stellplatz (Tiefgarage)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="12">
            <xs:annotation>
               <xs:appinfo>
                  <wert>sonstiges Teileigentum (z.B. Keller, Hobbyraum)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="13">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Wohn- / Geschäftshaus</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="14">
            <xs:annotation>
               <xs:appinfo>
                  <wert>gewerblich genutztes Grundstück</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="15">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Baugrundstück</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="16">
            <xs:annotation>
               <xs:appinfo>
                  <wert>unbebautes Grundstück</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="17">
            <xs:annotation>
               <xs:appinfo>
                  <wert>land- und forstwirtschaftlich genutztes Grundstück</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="18">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Sonstiges</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="19">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zweifamilienhaus</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Doppelhaushälfte</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Einfamilienhaus</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="4">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Mehrfamilienhaus</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="5">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Eigentumswohnung (1 bis 2 Zimmer)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="6">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Eigentumswohnung (3 bis 4 Zimmer)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="7">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Eigentumswohnung (ab 5 Zimmer)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="8">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Gewerbeeinheit (z.B. Laden, Büro)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="9">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Garage</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvg.titelart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Titelart</nameLang>
               <nameKurz>ZVG.Titelart</nameKurz>
               <nameTechnisch>zvg.titelart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.titelart</kennung>
               <beschreibung>Codeliste der verschiedenen Titelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>andere Urkunde (z.B. Jugendamt)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beschluss</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Sonstiges</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Urkunde (Notar)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Urteil</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vergleich</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckbarkeitserklärung (Behörde)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="008">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Vollstreckungsbescheid</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="zvg.verfahrensart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>ZVG.Verfahrensart</nameLang>
               <nameKurz>ZVG.Verfahrensart</nameKurz>
               <nameTechnisch>zvg.verfahrensart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:zvg.verfahrensart</kennung>
               <beschreibung>Codeliste der verschiedenen Versteigerungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="-1">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsversteigerung zum Zwecke der Aufhebung der Gemeinschaft</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="0">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Versteigerung im Wege der Zwangsvollstreckung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="1">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsversteigerung auf Antrag des Insolvenzverwalters</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="2">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsversteigerung auf Antrag des Erben</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="3">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsversteigerung von Schiffen, Schiffsbauwerken und Binnenschiffen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="4">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsversteigerung von Luftfahrzeugen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="5">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsversteigerung zum Zwecke der Entziehung des Wohnungseigentums</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="99">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zwangsverwaltung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
