j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_0520_cl_personenwerte_3_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.2.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.STRAF.Fahrerlaubnisart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahrerlaubnisart</nameLang>
               <nameKurz>STRAF.Fahrerlaubnisart</nameKurz>
               <nameTechnisch>straf.fahrerlaubnisart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahrerlaubnisart</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element Personendaten/Fuehrerschein/Fahrerlaubnisart.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahrerlaubnisart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fahrzeugantrieb.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahrzeugantrieb</nameLang>
               <nameKurz>STRAF.Fahrzeugantrieb</nameKurz>
               <nameTechnisch>straf.fahrzeugantrieb</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahrzeugantrieb</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element Fahrzeug/Antrieb.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahrzeugantrieb"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fahrzeugart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahrzeugart</nameLang>
               <nameKurz>STRAF.Fahrzeugart</nameKurz>
               <nameTechnisch>straf.fahrzeugart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahrzeugart</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element Fahrzeug/Fahrzeugart.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahrzeugart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fuehrerscheinklasse.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fuehrerscheinklasse</nameLang>
               <nameKurz>STRAF.Fuehrerscheinklasse</nameKurz>
               <nameTechnisch>straf.fuehrerscheinklasse</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fuehrerscheinklasse</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element Personendaten/Fuehrerschein/Fuehrerscheinklasse.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fuehrerscheinklasse"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Personenbezug.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Personenbezug</nameLang>
               <nameKurz>STRAF.Personenbezug</nameKurz>
               <nameTechnisch>straf.personenbezug</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.personenbezug</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element Fahrzeug/Personenbezug/Art.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.personenbezug"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Strafverfolgungshindernis.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Strafverfolgungshindernis</nameLang>
               <nameKurz>STRAF.Strafverfolgungshindernis</nameKurz>
               <nameTechnisch>straf.strafverfolgungshindernis</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.strafverfolgungshindernis</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element Personendaten/Strafverfolgungshindernis.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.strafverfolgungshindernis"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
