j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_0550_cl_nachrichten_3_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.3.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.STRAF.ASTRAL.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Astral</nameLang>
               <nameKurz>STRAF.Astral</nameKurz>
               <nameTechnisch>straf.astral</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.astral</kennung>
               <beschreibung>Diese Codeliste dient der Übermittlung der ASTRAL-ID gem. jeweils aktueller ASTRAL-Mastertabelle des Bundesamtes für Justiz.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.astral"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Anordnungsbefugter.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Anordnungsbefugter</nameLang>
               <nameKurz>STRAF.Anordnungsbefugter</nameKurz>
               <nameTechnisch>straf.anordnungsbefugter</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.anordnungsbefugter</kennung>
               <beschreibung>Diese Codeliste enthält die Anordnungsbefugten im Rahmen der Vermögensabschöpfung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.anordnungsbefugter"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.ArtDerAuskunftsdaten.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.BFJ.ArtDerAuskunftsdaten</nameLang>
               <nameKurz>STRAF.BFJ.ArtDerAuskunftsdaten</nameKurz>
               <nameTechnisch>straf.bfj.artderauskunftsdaten</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.bfj.artderauskunftsdaten</kennung>
               <beschreibung>Codeliste der verschiedenen Arten der Auskunftsdaten bei der Kommunikation mit dem BfJ.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.bfj.artderauskunftsdaten"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.BZR.FreiheitsentziehungArt.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ BZR Freiheitsentziehung Art</nameLang>
               <nameKurz>BfJ BZR Freiheitsentziehung Art</nameKurz>
               <nameTechnisch>bzr.freiheitsentziehungart</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bzr.freiheitsentziehungart</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste enthält die Arten von Freiheitsentziehung bei gerichtlichen Entscheidungen zu Straftaten.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bzr.freiheitsentziehungart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.BZR.HinweisArt.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ BZR Hinweisart</nameLang>
               <nameKurz>BfJ BZR Hinweisart</nameKurz>
               <nameTechnisch>bzr.hinweisart</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bzr.hinweisart</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste listet die definierten Arten von Hinweisen gemäß §§ 22, 23 und 28 BZRG.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bzr.hinweisart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.BZR.Textkennzahl.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ BZR Textkennzahl</nameLang>
               <nameKurz>BfJ BZR Textkennzahl</nameKurz>
               <nameTechnisch>bzr.textkennzahl</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bzr.textkennzahl</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste listet die möglichen Anlässe einer durch das BfJ zu versendenden Benachrichtigung auf. Die Eintragungen in der Spalte "TypZusatz" der Codeliste haben folgende Bedeutung. Typ 0: kein Zusatztext; Typ 1: Angabe eines frei editierbaren Textes; Typ 2: Angabe einer Zahl (nur Ziffern); Typ 3: Angabe eines Datums (im Format TT.MM.JJJJ); Typ 4: Angabe einer Dauer (im Format ..J..M..W..T); Typ 5: Angabe von Freizeiten (im Format .. Freizeiten); Typ 6: Bezeichnung einer Entscheidung (im Format Entscheidungsdatum[Format TT.MM.JJJJ]+Aktenzeichen+ Behördenkennzeichen+Behördenbezeichnung); Typ 7: Angabe der Mitteilungsnummer im ZStV+des zum ZStV mitgeteilten Aktenzeichens</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bzr.textkennzahl"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Behoerdenfuehrungszeugnis.BZR.Grund.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ BZR Behördenführungszeugnis Grund</nameLang>
               <nameKurz>BfJ BZR Behördenführungszeugnis Grund</nameKurz>
               <nameTechnisch>bzr.behoerdenfuehrungszeugnisgrund</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bzr.behoerdenfuehrungszeugnisgrund</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Die Codeliste enthält die möglichen Gründe für die Beantragung eines Behördenführungszeugnisses.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bzr.behoerdenfuehrungszeugnisgrund"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.BenachrichtigungGrund.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Benachrichtigung Grund</nameLang>
               <nameKurz>BfJ Benachrichtigung Grund</nameKurz>
               <nameTechnisch>bfj.benachrichtigunggrund</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bfj.benachrichtigunggrund</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Benachrichtigungen aus dem BZR und aus dem GZR. Diese Codeliste listet die möglichen Anlässe einer durch das BfJ zu versendenden Benachrichtigung auf.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bfj.benachrichtigunggrund"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.GZR.Gewerbeart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ GZR Gewerbeart</nameLang>
               <nameKurz>BfJ GZR Gewerbeart</nameKurz>
               <nameTechnisch>gzr.gewerbeart</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:gzr.gewerbeart</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste enthält Bezeichnungen und Schlüssel zu den Arten von Gewerbe, die im GZR von Entscheidungen betroffen sind.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:gzr.gewerbeart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.GZR.Gewerbeschluessel.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ GZR Gewerbeschlüssel</nameLang>
               <nameKurz>BfJ GZR Gewerbeschlüssel</nameKurz>
               <nameTechnisch>gzr.gewerbeschluessel</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:gzr.gewerbeschluessel</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste enthält die im GZR verwendeten Schlüsselnummern zur Angabe der Gewerbe oder wirtschaftlichen Unternehmungen.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:gzr.gewerbeschluessel"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.GZR.Rechtsvorschriften.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ GZR Rechtsvorschriften</nameLang>
               <nameKurz>BfJ GZR Rechtsvorschriften</nameKurz>
               <nameTechnisch>gzr.rechtsvorschriften</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:gzr.rechtsvorschriften</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste enthält die gängigen Normen, auf denen Entscheidungen beruhen, die im GZR einzutragen sind. Zur Vereinfachung von Mitteilungen zum GZR kann die Bezeichnung der Norm durch die entsprechende Schlüsselzahl ersetzt werden.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:gzr.rechtsvorschriften"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.GZR.Textkennzahl.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ GZR Textkennzahl</nameLang>
               <nameKurz>BfJ GZR Textkennzahl</nameKurz>
               <nameTechnisch>gzr.textkennzahl</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:gzr.textkennzahl</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste listet die möglichen Anlässe einer durch das BfJ zu versendenden Benachrichtigung auf. Die Eintragungen in der Spalte "TypZusatz" der Codeliste haben folgende Bedeutung. Typ 0: kein Zusatztext; Typ 1: Angabe eines frei editierbaren Textes; Typ 2: Angabe einer Zahl (nur Ziffern); Typ 3: Angabe eines Datums (im Format TT.MM.JJJJ); Typ 4: Angabe einer Dauer (im Format..J..M..W..T); Typ 5: Angabe von Freizeiten (im Format .. Freizeiten); Typ 6: Bezeichnung einer Entscheidung (im Format Entscheidungsdatum [Format TT.MM.JJJJ]+Aktenzeichen+Behördenkennzeichen+Behördenbezeichnung)</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:gzr.textkennzahl"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.HinweisAnlass.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Hinweis Anlass</nameLang>
               <nameKurz>BfJ Hinweis Anlass</nameKurz>
               <nameTechnisch>bfj.hinweisanlass</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bfj.hinweisanlass</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste enthält die möglichen Anlässe für die Versendung einer Benachrichtigung oder eines Hinweises.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bfj.hinweisanlass"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.BZR.Anfrage.UnbeschraenkteAuskunft.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode BZR Anfrage unbeschränkte Auskunft</nameLang>
               <nameKurz>BfJ Nachrichtencode BZR Anfrage unbeschränkte Auskunft</nameKurz>
               <nameTechnisch>nachrichtencode.bzr.anfrageunbeschraenkteauskunft</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.anfrageunbeschraenkteauskunft</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste bildet die relevanten Nachrichtencodes für BZR-Anfragen für unbeschränkte Auskünfte ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ und der Umfang der ggf. zu erteilenden Auskunft ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.anfrageunbeschraenkteauskunft"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.BZR.Antrag.Behoerdenfuehrungszeugnis.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode BZR Antrag Behördenführungszeugnis</nameLang>
               <nameKurz>BfJ Nachrichtencode BZR Antrag Behördenführungszeugnis</nameKurz>
               <nameTechnisch>nachrichtencode.bzr.antragbehoerdenfuehrungszeugnis</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.antragbehoerdenfuehrungszeugnis</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Die Codeliste enthält die Nachrichtencodes für die Beantragung eines Behördenführungszeugnisses.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.antragbehoerdenfuehrungszeugnis"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.BZR.Auskunft.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode BZR Auskunft</nameLang>
               <nameKurz>BfJ Nachrichtencode BZR Auskunft</nameKurz>
               <nameTechnisch>bfj.nachrichtencode.bzr.auskunft</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.auskunft</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste bildet die relevanten Nachrichtencodes für BZR-Auskünfte ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ und der Umfang der zu erteilenden Auskunft ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.auskunft"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.BZR.Mitteilungen.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode BZR Mitteilungen</nameLang>
               <nameKurz>BfJ Nachrichtencode BZR Mitteilungen</nameKurz>
               <nameTechnisch>nachrichtencode.bzr.mitteilung</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.mitteilung</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste bildet die relevanten Nachrichtencodes für BZR-Mitteilungen ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.bzr.mitteilung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.GZR.Anfrage.OeffentlicheStelle.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode GZR Anfrage öffentliche Stelle</nameLang>
               <nameKurz>BfJ Nachrichtencode GZR Anfrage öffentliche Stelle</nameKurz>
               <nameTechnisch>nachrichtencode.gzr.anfrageoeffentlichestelle</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.gzr.anfrageoeffentlichestelle</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste bildet die relevanten Nachrichtencodes für GZR-Anfragen einer öffentlichen Stelle ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ und der Umfang der ggf. zu erteilenden Auskunft ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.gzr.anfrageoeffentlichestelle"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.GZR.Auskunft.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode GZR Auskunft</nameLang>
               <nameKurz>BfJ Nachrichtencode GZR Auskunft</nameKurz>
               <nameTechnisch>bfj.nachrichtencode.gzr.auskunft</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.gzr.auskunft</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste bildet die relevanten Nachrichtencodes für GZR-Auskünfte ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ und der Umfang der zu erteilenden Auskunft ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.gzr.auskunft"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.Nachrichtencode.GZR.Mitteilungen.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Nachrichtencode GZR Mitteilungen</nameLang>
               <nameKurz>BfJ Nachrichtencode GZR Mitteilungen</nameKurz>
               <nameTechnisch>nachrichtencode.gzr.mitteilung</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:nachrichtencode.gzr.mitteilung</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Diese Codeliste bildet die relevanten Nachrichtencodes für GZR-Mitteilungen ab. Der Nachrichtencode wird benötigt, um die fachlich-rechtliche Rolle einer eingehenden Nachricht beim BfJ näher zu bestimmen. Vom Nachrichtencode hängt die weitere Verarbeitung im BfJ ab.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:nachrichtencode.gzr.mitteilung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.UebermittelndeStelle.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Übermittelnde Stelle</nameLang>
               <nameKurz>BfJ Übermittelnde Stelle</nameKurz>
               <nameTechnisch>bfj.uebermittelndestelle</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bfj.uebermittelndestelle</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Die Codeliste enthält die Kennzeichen aller Stellen, die als übermittelnde Stellen in den Datenaustausch eingebunden sein können. Als übermittelnde Stellen wird die zentrale Stelle bezeichnet, die die Nachrichten von mehreren Autoren (Fachbehörden) technisch sammelt und weiterleitet bzw. die versendeten Nachrichten empfängt und verteilt.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bfj.uebermittelndestelle"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.BFJ.VerwendungszweckAuskunft.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>BfJ Verwendungszweck Auskunft</nameLang>
               <nameKurz>BfJ Verwendungszweck Auskunft</nameKurz>
               <nameTechnisch>bfj.verwendungszweck.auskunft</nameTechnisch>
               <kennung>urn:xoev-de:bund:bfj:codeliste:bfj.verwendungszweckauskunft</kennung>
               <beschreibung>Codeliste des XÖV-Standards XBfJ. Codeliste der Verwendungszwecke. Liste der möglichen Zwecke für die Verwendung einer Auskunft. Von einer anfragenden Stelle ist ein solcher Zweck anzugeben. Den in §§ 41 und 61 BZRG bzw. § 150a GewO genannten Stellen wird nur für die dort festgelegten Zwecke eine Auskunft erteilt. Sie dürfen daher nur für diese Zwecke eine Anfrage stellen.</beschreibung>
               <herausgebernameLang>Bundesamt für Justiz, Bonn</herausgebernameLang>
               <herausgebernameKurz>BfJ</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:bund:bfj:codeliste:bfj.verwendungszweckauskunft"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Massnahmeart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Massnahmeart</nameLang>
               <nameKurz>STRAF.Massnahmeart</nameKurz>
               <nameTechnisch>straf.massnahmeart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.massnahmeart</kennung>
               <beschreibung>Diese Codeliste enthält die Art der angeordneten Maßnahme.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.massnahmeart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Massnahmegegenstand.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Massnahmegegenstand</nameLang>
               <nameKurz>STRAF.Massnahmegegenstand</nameKurz>
               <nameTechnisch>straf.massnahmegegenstand</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.massnahmegegenstand</kennung>
               <beschreibung>Diese Codeliste enthält die Art des Gegenstands, auf den sich die Sicherungsmaßname bezieht.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.massnahmegegenstand"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Sicherungsmassnahme.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Sicherungsmassnahme</nameLang>
               <nameKurz>STRAF.Sicherungsmassnahme</nameKurz>
               <nameTechnisch>straf.sicherungsmassnahme</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.sicherungsmassnahme</kennung>
               <beschreibung>Diese Codeliste enthält die Sicherungsmaßnahmen im Rahmen der Vermögensabschöpfung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.sicherungsmassnahme"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Tatmerkmal.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Tatmerkmal</nameLang>
               <nameKurz>STRAF.Tatmerkmal</nameKurz>
               <nameTechnisch>straf.tatmerkmal</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.tatmerkmal</kennung>
               <beschreibung>Mit dieser Codeliste können Zusatzkennzeichnungen zur Tat zur statistischen Erfassung übermittelt werden.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.tatmerkmal"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.WebReg.Zurechnung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.WebReg.Zurechnung</nameLang>
               <nameKurz>STRAF.WebReg.Zurechnung</nameKurz>
               <nameTechnisch>straf.webreg.zurechnung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.webreg.zurechnung</kennung>
               <beschreibung>Diese Codeliste enthält die Gründe, die zur Meldung einer Entscheidung gegen eine natürliche Person führen können und richtet sich nach § 30 OWiG.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.webreg.zurechnung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
