j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_0420_cl_vertretung_register_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.REG.Allgemeine_Befreiung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>REG.Allgemeine_Befreiung</nameLang>
               <nameKurz>REG.Allgemeine_Befreiung</nameKurz>
               <nameTechnisch>reg.allgemeine-befreiung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:reg.allgemeine-befreiung</kennung>
               <beschreibung>Beschreibt die im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister einzutragenden Befreiungen von § 181 BGB zur allgemeinen Vertretungsregelung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:reg.allgemeine-befreiung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.REG.Allgemeine_Vertretungsregelung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>REG.Allgemeine_Vertretungsregelung</nameLang>
               <nameKurz>REG.Allgemeine_Vertretungsregelung</nameKurz>
               <nameTechnisch>reg.allgemeine-vertretungsregelung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:reg.allgemeine-vertretungsregelung</kennung>
               <beschreibung>Beschreibt die im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister einzutragenden allgemeinen Vertretungsregelung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:reg.allgemeine-vertretungsregelung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.REG.Besondere_Befreiung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>REG.Besondere_Befreiung</nameLang>
               <nameKurz>REG.Besondere_Befreiung</nameKurz>
               <nameTechnisch>reg.besondere-befreiung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:reg.besondere-befreiung</kennung>
               <beschreibung>Beschreibt die im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister einzutragenden Befreiungen von § 181 BGB zur besonderen Vertretungsregelung des jeweiligen Vertreters.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:reg.besondere-befreiung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.REG.Besondere_Vertretungsregelung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>REG.Besondere_Vertretungsregelung</nameLang>
               <nameKurz>REG.Besondere_Vertretungsregelung</nameKurz>
               <nameTechnisch>reg.besondere-vertretungsregelung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:reg.besondere-vertretungsregelung</kennung>
               <beschreibung>Beschreibt die im Handels-, Genossenschafts-, Partnerschafts- und Vereinsregister einzutragenden besonderen Vertretungsregelung des jeweiligen Vertreters.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:reg.besondere-vertretungsregelung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.REG.Sachliche_Erweiterung_Prokura.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>REG.Sachliche_Erweiterung_Prokura</nameLang>
               <nameKurz>REG.Sachliche_Erweiterung_Prokura</nameKurz>
               <nameTechnisch>reg.sachliche-erweiterung-prokura</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:reg.sachliche-erweiterung-prokura</kennung>
               <beschreibung>Beschreibt die im Handels-, Genossenschafts- und Partnerschaftsregister einzutragenden Erweiterungen von Prokuren.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:reg.sachliche-erweiterung-prokura"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
