j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_1610_cl_smallclaims_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.SC.GerichtlicheZustaendigkeit">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>SC.GerichtlicheZustaendigkeit</nameLang>
               <nameKurz>SC.GerichtlicheZustaendigkeit</nameKurz>
               <nameTechnisch>sc.gerichtliche-zustaendigkeit</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:sc.gerichtliche-zustaendigkeit</kennung>
               <beschreibung>Codeliste der verschiedenen gerichtlichen Zuständigkeiten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:sc.gerichtliche-zustaendigkeit"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:sc.gerichtliche-zustaendigkeit"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.SC.Zahlungsart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>SC.Zahlungsart</nameLang>
               <nameKurz>SC.Zahlungsart</nameKurz>
               <nameTechnisch>sc.zahlungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:sc.zahlungsart</kennung>
               <beschreibung>Codeliste der verschiedenen Zahlungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:sc.zahlungsart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:sc.zahlungsart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="sc.gerichtliche-zustaendigkeit">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>SC.GerichtlicheZustaendigkeit</nameLang>
               <nameKurz>SC.GerichtlicheZustaendigkeit</nameKurz>
               <nameTechnisch>sc.gerichtliche-zustaendigkeit</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:sc.gerichtliche-zustaendigkeit</kennung>
               <beschreibung>Codeliste der verschiedenen gerichtlichen Zuständigkeiten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Erfüllungsort/Leistungsort</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Gerichtsstandsvereinbarung zwischen den Parteien</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>In Versicherungssachen, Wohnsitz des Versicherungsnehmers, des Versicherten oder des Begünstigten</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Ort des schädigenden Ereignisses</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Ort, an dem die unbewegliche Sache belegen ist</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Wohnsitz des Beklagten</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Wohnsitz des Verbrauchers</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="sc.zahlungsart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>SC.Zahlungsart</nameLang>
               <nameKurz>SC.Zahlungsart</nameKurz>
               <nameTechnisch>sc.zahlungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:sc.zahlungsart</kennung>
               <beschreibung>Codeliste der verschiedenen Zahlungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Per Banküberweisung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Per Kreditkarte</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Per Lastschrift von Ihrem Bankkonto</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
