j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_3300_justizintern_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           targetNamespace="http://www.xjustiz.de"
           version="1.0.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:include schemaLocation="xjustiz_0000_grunddatensatz_3_5.xsd"/>
   <xs:include schemaLocation="xjustiz_3310_cl_justizintern_0_1.xsd"/>
   <xs:import schemaLocation="din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:element name="nachricht.int.abgabeInnerhalbDerJustiz.3300001">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="nachrichtenkopf" type="tns:Type.GDS.Nachrichtenkopf"/>
            <xs:element name="grunddaten" type="tns:Type.GDS.Grunddaten"/>
            <xs:element name="schriftgutobjekte" type="tns:Type.GDS.Schriftgutobjekte"/>
            <xs:element name="fachdaten">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="einlegungRechtsmittel" minOccurs="0">
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="entscheidungsart" type="tns:Code.GDS.Entscheidungsart.Typ3">
                                 <xs:annotation>
                                    <xs:documentation>Hier ist die Art der Entscheidung anzugeben, gegen die das Rechtsmittel eingelegt wurde.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="entscheidungsdatum" minOccurs="0" type="xs:date"/>
                              <xs:element name="rechtsmittelart"
                                          minOccurs="0"
                                          type="tns:Code.GDS.Rechtsmittelart.Typ3">
                                 <xs:annotation>
                                    <xs:documentation>Sofern die Art des Rechtsmittels bekannt ist, soll der einschlägige Wert in diesem Element übergeben werden. Dies ist z.B. der Fall, wenn das Rechtsmittel bei dem Gericht, das die Entscheidung getroffen hat, eingelegt wird und die Abgabe an das Rechtsmittelgericht von dort aus erfolgt.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                              <xs:element name="beteiligter"
                                          minOccurs="0"
                                          maxOccurs="unbounded"
                                          type="tns:Type.GDS.Ref.Rollennummer">
                                 <xs:annotation>
                                    <xs:documentation>Hier kann auf die Rechtsmittelführer referenziert werden.</xs:documentation>
                                 </xs:annotation>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                     <xs:element name="zusammengehoerigeVerfahren" minOccurs="0">
                        <xs:annotation>
                           <xs:documentation>Mit diesem Element werden fachlich miteinander verbundene Verfahren gekennzeichnet.</xs:documentation>
                        </xs:annotation>
                        <xs:complexType>
                           <xs:sequence>
                              <xs:element name="hauptverfahren">
                                 <xs:annotation>
                                    <xs:documentation>Bezeichnet das Verfahren, für das ein zugehöriges Verfahren in der Sequenz "zugehoerigeVerfahren" angegeben wird.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="ref.instanznummer" type="din91379:datatypeC"/>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                              <xs:element name="zugehoerigeVerfahren" maxOccurs="unbounded">
                                 <xs:annotation>
                                    <xs:documentation>Bezeichnet das zugehörige Verfahren.</xs:documentation>
                                 </xs:annotation>
                                 <xs:complexType>
                                    <xs:sequence>
                                       <xs:element name="ref.instanznummer" type="din91379:datatypeC"/>
                                       <xs:element name="fachlicherZusammenhang"
                                                   type="tns:Code.GDS.FachlicherZusammenhang.Typ3">
                                          <xs:annotation>
                                             <xs:documentation>In diesem Element wird die Art des zugehörigen Verfahrens beschrieben.</xs:documentation>
                                          </xs:annotation>
                                       </xs:element>
                                    </xs:sequence>
                                 </xs:complexType>
                              </xs:element>
                           </xs:sequence>
                        </xs:complexType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
