j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_0340_cl_iri_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.INSO.IRI.Fehlerart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Fehlerart</nameLang>
               <nameKurz>INSO.IRI.Fehlerart</nameKurz>
               <nameTechnisch>inso.iri.fehlerart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.fehlerart</kennung>
               <beschreibung>Diese Codeliste benennt die Fehlertypen, die bei einer Suchanfrage auftreten können.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:inso.iri.fehlerart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:inso.iri.fehlerart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.INSO.IRI.Fehlercode">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Fehlercode</nameLang>
               <nameKurz>INSO.IRI.Fehlercode</nameKurz>
               <nameTechnisch>inso.iri.fehlercode</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.fehlercode</kennung>
               <beschreibung>In der Codeliste sind die im Kontext von IRI v1 vereinbarten Codes aufgeführt. Sie dienen auch als Grundlage für die Definition von IRI v2.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:inso.iri.fehlercode"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:inso.iri.fehlercode"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.INSO.IRI.Feldtyp">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Feldtyp</nameLang>
               <nameKurz>INSO.IRI.Feldtyp</nameKurz>
               <nameTechnisch>inso.iri.feldtyp</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.feldtyp</kennung>
               <beschreibung>Diese Codeliste beinhaltet die möglichen Datentypen von generischen Elementen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:inso.iri.feldtyp"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:inso.iri.feldtyp"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.INSO.IRI.Status">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Status</nameLang>
               <nameKurz>INSO.IRI.Status</nameKurz>
               <nameTechnisch>inso.iri.status</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.status</kennung>
               <beschreibung>Diese Codeliste benennt die möglichen Status der Ergebnisse einer Suchanfrage.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:inso.iri.status"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:inso.iri.status"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="inso.iri.fehlerart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Fehlerart</nameLang>
               <nameKurz>INSO.IRI.Fehlerart</nameKurz>
               <nameTechnisch>inso.iri.fehlerart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.fehlerart</kennung>
               <beschreibung>Diese Codeliste benennt die Fehlertypen, die bei einer Suchanfrage auftreten können.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="InternalServiceException">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NotImplementedException">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="inso.iri.fehlercode">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Fehlercode</nameLang>
               <nameKurz>INSO.IRI.Fehlercode</nameKurz>
               <nameTechnisch>inso.iri.fehlercode</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.fehlercode</kennung>
               <beschreibung>In der Codeliste sind die im Kontext von IRI v1 vereinbarten Codes aufgeführt. Sie dienen auch als Grundlage für die Definition von IRI v2.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="0">
            <xs:annotation>
               <xs:appinfo>
                  <wert>NO_RESULT</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="100">
            <xs:annotation>
               <xs:appinfo>
                  <wert>TRUNCATED</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="101">
            <xs:annotation>
               <xs:appinfo>
                  <wert>ADVANCED_NOTSUPPORTED</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="102">
            <xs:annotation>
               <xs:appinfo>
                  <wert>ADVANCED_PERSON_NOTSUPPORTED</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="103">
            <xs:annotation>
               <xs:appinfo>
                  <wert>REQUEST_FORM_NOTSUPPORTED</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="500">
            <xs:annotation>
               <xs:appinfo>
                  <wert>TOO_GENERIC</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="501">
            <xs:annotation>
               <xs:appinfo>
                  <wert>UNKNOWN_PARAM</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="502">
            <xs:annotation>
               <xs:appinfo>
                  <wert>INVALID_PARAM</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="503">
            <xs:annotation>
               <xs:appinfo>
                  <wert>GENERAL_MAINT</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="504">
            <xs:annotation>
               <xs:appinfo>
                  <wert>GENERAL_TEMP</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="505">
            <xs:annotation>
               <xs:appinfo>
                  <wert>GENERAL_UNKN</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="506">
            <xs:annotation>
               <xs:appinfo>
                  <wert>OVERLOAD</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="507">
            <xs:annotation>
               <xs:appinfo>
                  <wert>UNSUPPORTED_CHARACTER</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="inso.iri.feldtyp">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Feldtyp</nameLang>
               <nameKurz>INSO.IRI.Feldtyp</nameKurz>
               <nameTechnisch>inso.iri.feldtyp</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.feldtyp</kennung>
               <beschreibung>Diese Codeliste beinhaltet die möglichen Datentypen von generischen Elementen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="AMOUNT">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="BOOLEAN">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DATE">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="DATETIME">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="ID">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LIST">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="LOV">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="NUMBER">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PERIOD">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TABLE">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TEXT">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TIME">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="URL">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="inso.iri.status">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>INSO.IRI.Status</nameLang>
               <nameKurz>INSO.IRI.Status</nameKurz>
               <nameTechnisch>inso.iri.status</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:inso.iri.status</kennung>
               <beschreibung>Diese Codeliste benennt die möglichen Status der Ergebnisse einer Suchanfrage.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="ERROR">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="OK">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="WARNING">
            <xs:annotation>
               <xs:appinfo>
                  <wert/>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
