j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_2410_cl_ezoll_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.EZOLL.Fehler">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>EZOLL.Fehler</nameLang>
               <nameKurz>EZOLL.Fehler</nameKurz>
               <nameTechnisch>ezoll.fehler</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:ezoll.fehler</kennung>
               <beschreibung>Codeliste der verschiedenen Fehlermeldungen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:ezoll.fehler"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:ezoll.fehler"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.EZOLL.Forderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>EZOLL.Forderung</nameLang>
               <nameKurz>EZOLL.Forderung</nameKurz>
               <nameTechnisch>ezoll.forderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:ezoll.forderung</kennung>
               <beschreibung>Codeliste der verschiedenen Forderungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:ezoll.forderung"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:ezoll.forderung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.1"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.EZOLL.Glaeubiger">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>EZOLL.Glaeubiger</nameLang>
               <nameKurz>EZOLL.Glaeubiger</nameKurz>
               <nameTechnisch>ezoll.glaeubiger</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:ezoll.glaeubiger</kennung>
               <beschreibung>Codeliste der verschiedenen Gläubiger im Fachverfahren eZOLL</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:ezoll.glaeubiger"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:ezoll.glaeubiger"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="1.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="ezoll.fehler">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>EZOLL.Fehler</nameLang>
               <nameKurz>EZOLL.Fehler</nameKurz>
               <nameTechnisch>ezoll.fehler</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:ezoll.fehler</kennung>
               <beschreibung>Codeliste der verschiedenen Fehlermeldungen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="01">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Strukturfehler (Parserfehler/Schemafehler)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="02">
            <xs:annotation>
               <xs:appinfo>
                  <wert>falscher Nachrichtentyp</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="03">
            <xs:annotation>
               <xs:appinfo>
                  <wert>fehlende Berechtigung (Rollenprüfung fehlgeschlagen)</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="04">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Den in Ihrer Anfrage angegebenen Daten konnte keine Person eindeutig zugeordnet werden. Ihre Angaben haben zu keinem Treffer geführt bzw. die Person ist nicht im Bestand der DSRV. Ggf. ist die Anfrage mit optimierten Angaben erneut zu senden.</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="06">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Der Familienname muss gemeldet werden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="07">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Der Vorname muss gemeldet werden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="08">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Das Geburtsdatum enthält kein gültiges Datum</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="09">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Das Geburtsdatum ist nicht vorhanden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="10">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Die Postleitzahl muss gemeldet werden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="11">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Die Strasse muss gemeldet werden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="12">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Der Ort muss gemeldet werden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="13">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Versicherungsnummer ist nicht plausibel</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="14">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Voraussetzungen zur Auskunftserteilung sind nicht erfüllt.</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="16">
            <xs:annotation>
               <xs:appinfo>
                  <wert>mehr als 20 Personen gefunden</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="17">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Die gesuchte Person ist verstorben.</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="18">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Ihr Auskunftsersuchen kann nicht beantwortet werden, da eine aktuelle Anschrift in den Beständen der DSRV nicht gespeichert ist.</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="99">
            <xs:annotation>
               <xs:appinfo>
                  <wert>sonstiger Fehler</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ezoll.forderung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>EZOLL.Forderung</nameLang>
               <nameKurz>EZOLL.Forderung</nameKurz>
               <nameTechnisch>ezoll.forderung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:ezoll.forderung</kennung>
               <beschreibung>Codeliste der verschiedenen Forderungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.1</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Forderung von Sozialleistungen gem. §§ 18-29 SGB I</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Sicherung des Steueraufkommens</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Öffentlich-rechtliche Forderung i. H. v. mind. 500,-- EUR</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Öffentlich-rechtliche Forderung unter 500,-- EUR</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Beitragsforderung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Forderung von Zuzahlung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Rückforderung überzahlter Leistungen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="008">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Mahngebühren, Säumniszuschläge, Zinsen,…</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="009">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Rückforderung BAföG</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="010">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Steuerforderung</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="011">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Rückforderung Kindergeld</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="012">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Mahngebühren, Säumniszuschläge, Zwangsgelder, Kosten, Zinsen</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="013">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bußgeld</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="014">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kosten</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="015">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Sonstiges</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ezoll.glaeubiger">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>EZOLL.Glaeubiger</nameLang>
               <nameKurz>EZOLL.Glaeubiger</nameKurz>
               <nameTechnisch>ezoll.glaeubiger</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:ezoll.glaeubiger</kennung>
               <beschreibung>Codeliste der verschiedenen Gläubiger im Fachverfahren eZOLL</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>1.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="001">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bundesämter und -anstalten, Bundes-ministerien</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="002">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bundespolizei</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="003">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bundesnetzagentur</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="004">
            <xs:annotation>
               <xs:appinfo>
                  <wert>KfW-Bankengruppe</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="005">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bundesverwaltungsamt</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="006">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Anschrift Gläubiger</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="007">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Hauptzollamt</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="008">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Zentrale Zulagestelle für Altersvermögen (ZfA) bei der DRV</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="009">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bundeszentralamt für Steuern</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="010">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Familienkasse bei der Bundesagentur für Arbeit</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="011">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Krankenkasse</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="012">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Bundesagentur für Arbeit</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="013">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Rentenversicherungsträger</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="014">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Berufsgenossenschaft</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="015">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Knappschaft, Minijobzentrale</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
