j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_0610_cl_mahn_3_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.0.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.MAHN.Kostenbefreiung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MAHN.Kostenbefreiung</nameLang>
               <nameKurz>MAHN.Kostenbefreiung</nameKurz>
               <nameTechnisch>mahn.kostenbefreiung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mahn.kostenbefreiung</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element 'kostenbefreiung' im Kontext Verfahrensablauf/Kosten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:mahn.kostenbefreiung"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mahn.kostenbefreiung"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.MAHN.Widerspruchsart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MAHN.Widerspruchsart</nameLang>
               <nameKurz>MAHN.Widerspruchsart</nameKurz>
               <nameTechnisch>mahn.widerspruchsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mahn.widerspruchsart</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element 'widerspruchsart'.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
            <genutzteCodeSpalte>code</genutzteCodeSpalte>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="tns:mahn.widerspruchsart"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:mahn.widerspruchsart"/>
            <xs:attribute name="listVersionID"
                          type="xs:normalizedString"
                          use="optional"
                          fixed="2.0"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="mahn.kostenbefreiung">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MAHN.Kostenbefreiung</nameLang>
               <nameKurz>MAHN.Kostenbefreiung</nameKurz>
               <nameTechnisch>mahn.kostenbefreiung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mahn.kostenbefreiung</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element 'kostenbefreiung' im Kontext Verfahrensablauf/Kosten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="GB">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Gebührenbefreit</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="KB">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Kostenbefreit</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="VZ">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Volle Zahlungspflicht</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="mahn.widerspruchsart">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>MAHN.Widerspruchsart</nameLang>
               <nameKurz>MAHN.Widerspruchsart</nameKurz>
               <nameTechnisch>mahn.widerspruchsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:mahn.widerspruchsart</kennung>
               <beschreibung>Diese Codeliste ist vorgesehen für das Element 'widerspruchsart'.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
            <versionCodeliste>
               <version>2.0</version>
               <versionCodelistenHandbuch>1.1</versionCodelistenHandbuch>
            </versionCodeliste>
            <codelistenspalten>
               <code>
                  <spaltennameLang>Schlüssel</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>true</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>true</empfohleneCodeSpalte>
               </code>
               <wert>
                  <spaltennameLang>Wert</spaltennameLang>
                  <datentyp>string</datentyp>
                  <codeSpalte>false</codeSpalte>
                  <verwendung>required</verwendung>
                  <empfohleneCodeSpalte>false</empfohleneCodeSpalte>
               </wert>
            </codelistenspalten>
         </xs:appinfo>
      </xs:annotation>
      <xs:restriction base="xs:token">
         <xs:enumeration value="GW">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Gesamtwiderspruch</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="TW">
            <xs:annotation>
               <xs:appinfo>
                  <wert>Teilwiderspruch</wert>
               </xs:appinfo>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
