j-lawyer-server-common/xjustiz/XJustiz 3.5.1 XSD/xjustiz_0510_cl_straf_3_4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://www.xjustiz.de"
           xmlns:xoev-code="http://xoev.de/schemata/code/1_0"
           targetNamespace="http://www.xjustiz.de"
           version="3.4.0"
           elementFormDefault="unqualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>Strukturierte Fachdaten für die Kommunikation im elektronischen Rechtsverkehr</nameLang>
            <nameKurz>XJustiz</nameKurz>
            <nameTechnisch>xjustiz</nameTechnisch>
            <kennung>urn:xoev-de:blk-ag-it-standards:standard:xjustiz</kennung>
            <beschreibung>XJustiz ist der bundesweit einheitliche Standard für den Austausch strukturierter elektronischer Informationen mit der Justiz.</beschreibung>
         </standard>
         <versionStandard>
            <version>3.5.1</version>
            <beschreibung>XJustiz beschreibt ein standardisiertes Datenaustauschformat für die elektronische Kommunikation innerhalb und mit der Justizverwaltung.</beschreibung>
            <versionXOEVProfil>1.7.2</versionXOEVProfil>
            <versionXOEVHandbuch>2.3.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP3</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="xoev-code.xsd"
              namespace="http://xoev.de/schemata/code/1_0"/>
   <xs:complexType name="Code.STRAF.Abwesenheitsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Abwesenheitsart</nameLang>
               <nameKurz>STRAF.Abwesenheitsart</nameKurz>
               <nameTechnisch>straf.abwesenheitsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.abwesenheitsart</kennung>
               <beschreibung>Diese Codeliste enthält unterschiedlichen Arten der Abwesenheit von der Haftanstalt.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.abwesenheitsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Anordnungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Anordnungsart</nameLang>
               <nameKurz>STRAF.Anordnungsart</nameKurz>
               <nameTechnisch>straf.anordnungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.anordnungsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Anordnungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.anordnungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Asservat.Auftrag.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Asservat.Auftrag</nameLang>
               <nameKurz>STRAF.Asservat.Auftrag</nameKurz>
               <nameTechnisch>straf.asservat.auftrag</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.asservat.auftrag</kennung>
               <beschreibung>Diese Codeliste benennt die verschiedenen Auftragsarten für Asservate.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.asservat.auftrag"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Asservat.Gegenstandsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Asservat.Gegenstandsart</nameLang>
               <nameKurz>STRAF.Asservat.Gegenstandsart</nameKurz>
               <nameTechnisch>straf.asservat.gegenstandsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.asservat.gegenstandsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Arten von Asservaten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.asservat.gegenstandsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Asservat.Statusmitteilung.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Asservat.Statusmitteilung</nameLang>
               <nameKurz>STRAF.Asservat.Statusmitteilung</nameKurz>
               <nameTechnisch>straf.asservat.statusmitteilung</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.asservat.statusmitteilung</kennung>
               <beschreibung>Mit dieser Codeliste wird mitgeteilt, wie der Verfahrensstand der Asservatenverwaltung ist.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.asservat.statusmitteilung"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Auflagen.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Auflagen</nameLang>
               <nameKurz>STRAF.Auflagen</nameKurz>
               <nameTechnisch>straf.auflagen</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.auflagen</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Auflagearten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.auflagen"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Bescheidart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Bescheidart</nameLang>
               <nameKurz>STRAF.Bescheidart</nameKurz>
               <nameTechnisch>straf.bescheidart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.bescheidart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Bescheidarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.bescheidart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Beschlussart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Beschlussart</nameLang>
               <nameKurz>STRAF.Beschlussart</nameKurz>
               <nameTechnisch>straf.beschlussart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.beschlussart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Beschlussarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.beschlussart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Besuchserlaubnisart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Besuchserlaubnisart</nameLang>
               <nameKurz>STRAF.Besuchserlaubnisart</nameKurz>
               <nameTechnisch>straf.besuchserlaubnisart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.besuchserlaubnisart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Besuchserlaubnisarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.besuchserlaubnisart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Beteiligungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Beteiligungsart</nameLang>
               <nameKurz>STRAF.Beteiligungsart</nameKurz>
               <nameTechnisch>straf.beteiligungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.beteiligungsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Arten der Beteiligung an einer Tat.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.beteiligungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Beweismittel.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Beweismittel</nameLang>
               <nameKurz>STRAF.Beweismittel</nameKurz>
               <nameTechnisch>straf.beweismittel</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.beweismittel</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Beweismittelarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.beweismittel"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Einstellungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Einstellungsart</nameLang>
               <nameKurz>STRAF.Einstellungsart</nameKurz>
               <nameTechnisch>straf.einstellungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.einstellungsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Einstellungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.einstellungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Entscheidungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Entscheidungsart</nameLang>
               <nameKurz>STRAF.Entscheidungsart</nameKurz>
               <nameTechnisch>straf.entscheidungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.entscheidungsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Entscheidungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.entscheidungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Ergebnisart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Ergebnisart</nameLang>
               <nameKurz>STRAF.Ergebnisart</nameKurz>
               <nameTechnisch>straf.ergebnisart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.ergebnisart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Ergebnisarten eines Strafverfahrens.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.ergebnisart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Erledigungsarten.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Erledigungsarten</nameLang>
               <nameKurz>STRAF.Erledigungsarten</nameKurz>
               <nameTechnisch>straf.erledigungsarten</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.erledigungsarten</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Erledigungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.erledigungsarten"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fahndungsanlass.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahndungsanlass</nameLang>
               <nameKurz>STRAF.Fahndungsanlass</nameKurz>
               <nameTechnisch>straf.fahndungsanlass</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahndungsanlass</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Fahndungsanlässe.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahndungsanlass"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fahndungsregion.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahndungsregion</nameLang>
               <nameKurz>STRAF.Fahndungsregion</nameKurz>
               <nameTechnisch>straf.fahndungsregion</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahndungsregion</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Fahndungsregionen</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahndungsregion"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fahndungsverfahren.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahndungsverfahren</nameLang>
               <nameKurz>STRAF.Fahndungsverfahren</nameKurz>
               <nameTechnisch>straf.fahndungsverfahren</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahndungsverfahren</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Fahndungsverfahren.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahndungsverfahren"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Fahndungszweck.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Fahndungszweck</nameLang>
               <nameKurz>STRAF.Fahndungszweck</nameKurz>
               <nameTechnisch>straf.fahndungszweck</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.fahndungszweck</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Fahndungszwecke.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.fahndungszweck"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Geldanordnungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Geldanordnungsart</nameLang>
               <nameKurz>STRAF.Geldanordnungsart</nameKurz>
               <nameTechnisch>straf.geldanordnungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.geldanordnungsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Geldanordungsarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.geldanordnungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Haftart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Haftart</nameLang>
               <nameKurz>STRAF.Haftart</nameKurz>
               <nameTechnisch>straf.haftart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.haftart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Haftarten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.haftart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Haftbeginn.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Haftbeginn</nameLang>
               <nameKurz>STRAF.Haftbeginn</nameKurz>
               <nameTechnisch>straf.haftbeginn</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.haftbeginn</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Arten eines Haftbeginns.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.haftbeginn"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Haftzeitendeart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Haftzeitendeart</nameLang>
               <nameKurz>STRAF.Haftzeitendeart</nameKurz>
               <nameTechnisch>straf.haftzeitendeart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.haftzeitendeart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Haftzeitendearten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.haftzeitendeart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Herkunftsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Herkunftsart</nameLang>
               <nameKurz>STRAF.Herkunftsart</nameKurz>
               <nameTechnisch>straf.herkunftsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.herkunftsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Herkunftsarten von beschlagnahmten Gegenständen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.herkunftsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Hydane.HerkunftDerDaten.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Hydane.HerkunftDerDaten</nameLang>
               <nameKurz>STRAF.Hydane.HerkunftDerDaten</nameKurz>
               <nameTechnisch>straf.hydane.herkunft-der-daten</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.hydane.herkunft-der-daten</kennung>
               <beschreibung>Diese Codeliste enthält länderspezifische Rechtsgrundlagen für die Erhebung personenbezogener Daten in Strafsachen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.hydane.herkunft-der-daten"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Loeschungsgrund.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Loeschungsgrund</nameLang>
               <nameKurz>STRAF.Loeschungsgrund</nameKurz>
               <nameTechnisch>straf.loeschungsgrund</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.loeschungsgrund</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Gründe für die Löschung einer Fahndung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.loeschungsgrund"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.OWI.Erledigungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.OWI.Erledigungsart</nameLang>
               <nameKurz>STRAF.OWI.Erledigungsart</nameKurz>
               <nameTechnisch>straf.owi.erledigungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.owi.erledigungsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Erledigungsarten bei Ordungswidrigkeiten.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.owi.erledigungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Pruefvorschrift.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Pruefvorschrift</nameLang>
               <nameKurz>STRAF.Pruefvorschrift</nameKurz>
               <nameTechnisch>straf.pruefvorschrift</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.pruefvorschrift</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Vorschriften für die Haftprüfung.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.pruefvorschrift"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Rechtsfolgen.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Rechtsfolgen</nameLang>
               <nameKurz>STRAF.Rechtsfolgen</nameKurz>
               <nameTechnisch>straf.rechtsfolgen</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.rechtsfolgen</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Rechtsfolgen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.rechtsfolgen"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Rechtsmittel.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Rechtsmittel</nameLang>
               <nameKurz>STRAF.Rechtsmittel</nameKurz>
               <nameTechnisch>straf.rechtsmittel</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.rechtsmittel</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Rechtsmittel.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.rechtsmittel"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.VA.Erledigungsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.VA.Erledigungsart</nameLang>
               <nameKurz>STRAF.VA.Erledigungsart</nameKurz>
               <nameTechnisch>straf.va.erledigungsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.va.erledigungsart</kennung>
               <beschreibung>Die Codeliste ist vorgesehen für die möglichen Erledigungsarten eines Vollstreckungsauftrages.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.va.erledigungsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Verbleibsart.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Verbleibsart</nameLang>
               <nameKurz>STRAF.Verbleibsart</nameKurz>
               <nameTechnisch>straf.verbleibsart</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.verbleibsart</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Arten des Verbleibs eingezogener Gegestände.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.verbleibsart"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Code.STRAF.Weisungen.Typ3">
      <xs:annotation>
         <xs:appinfo>
            <codeliste>
               <nameLang>STRAF.Weisungen</nameLang>
               <nameKurz>STRAF.Weisungen</nameKurz>
               <nameTechnisch>straf.weisungen</nameTechnisch>
               <kennung>urn:xoev-de:xjustiz:codeliste:straf.weisungen</kennung>
               <beschreibung>Diese Codeliste enthält die verschiedenen Weisungen.</beschreibung>
               <herausgebernameLang>BLK-AG IT-Standards in der Justiz</herausgebernameLang>
               <herausgebernameKurz>AG IT-Standards</herausgebernameKurz>
            </codeliste>
         </xs:appinfo>
         <xs:documentation>Die Werte einer Codeliste vom Code-Typ 3 können im XRepository eingesehen werden. Nähere Details sind im Kapitel "Codelisten vom Code-Typ 3" beschrieben.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:restriction base="xoev-code:Code">
            <xs:sequence>
               <xs:element name="code" type="xs:token"/>
            </xs:sequence>
            <xs:attribute name="listURI"
                          type="xs:anyURI"
                          use="optional"
                          fixed="urn:xoev-de:xjustiz:codeliste:straf.weisungen"/>
            <xs:attribute name="listVersionID" type="xs:normalizedString" use="required"/>
         </xs:restriction>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
